<button mat-raised-button (click)="lookForBuses()" class="add-button" color="primary" align="end">Look for your travel ticket</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 report-table">

      <ng-container>
        <th>From</th>
        <td></td>
      </ng-container>

      <ng-container>
        <th>To</th>
        <td></td>
      </ng-container>

      <ng-container>
        <th>Departures</th>
        <td></td>
      </ng-container>

      <ng-container>
        <th>Arrivals</th>
        <td></td>
      </ng-container>

      <ng-container>
        <th>Prices</th>
        <td></td>
      </ng-container>

  </table>